@using CourseWork.Models;
@model UploadModels

@{
    ViewBag.Title = "Результат";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NeNormTestResults</title>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Сохранить", "SaveNeNormResult", "Upload")</li>
                <li><a href="#" type="button" onclick="javascript:window.print()">Печать</a></li>
            </ul>
        </div>
    </nav>

    <br />

    <h1 class="text-center">Результат</h1>
    <div class="text-center">
        <p class="text-info"><span title="Данные проверенны на номральность с помощью критерия Хегази-Грина">Баллы тестирования не распределены нормально.</span></p>
        <p> Ниже представлены альтернативные таблицы, анализирующие тестовые баллы.</p>
    </div>
@if (SettingsModels.Abs) {
    <div class="text-center">
        <h2>Абсолютная таблица</h2>
        <p>
            Таблица первичных баллов каждого участника
        </p>
        <p><img src="@Url.Action("absChart","Upload")" /></p>
    </div>
}
</body>
</html>

@if (SettingsModels.Table)
{

    <div class="text-center">
        <h2>Результаты</h2>
    </div>
    <table class="table">

        <tr>
            <th>
                Участник
            </th>
            <th>
                Балл
            </th>
            <th>
        </tr>
        @for (int i = 0; i < @ViewBag.Data.Length; i++)
        {
            <tr>
                <td>
                    @ViewBag.Data[i].StudID
                </td>
                <td>
                    @ViewBag.Data[i].RawScore
                </td>
            </tr>
        }
    </table>
}

<br />

<nav>
    <div>
        <input type="button" class="btn btn-default" style="float:right" onclick="javascript:scrollTo(0,0)" value="Наверх" />
    </div>
</nav>
