@using CourseWork.Models;
@model  CourseWork.Models.TableModels

@{
    ViewBag.Title="Результат";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NormTestResults</title>
</head>
<body>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="collapse navbar-collapse">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>            
                </div>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Сохранить", "SaveNormResult", "Upload")</li>
                    <li><a href="#" type="button" onclick="javascript:window.print()">Печать</a></li>
                </ul>
            </div>
        </div>
    </nav>

        <br />

        <p>
            <h1 class="text-center">Результат</h1>
        </p>

        <div class="text-center">
            <p><span title="Данные проверенны на номральность с помощью критерия Хегази-Грина">Баллы тестирования распределены нормально.</span></p>
            <p> Ниже представлены таблицы, анализирующие выборку данных.</p>
        </div>
    
    @if (SettingsModels.Abs) { 
        <div class="text-center">
            <h2>Абсолютная таблица</h2>
            <p>
                Таблица первичных баллов каждого участника
            </p>
            <p><img src="@Url.Action("absChart","Upload")" /></p>
        </div>
    }
    @if ((SettingsModels.RawScore) && (SettingsModels.Perc)) {
        <h1 class="text-center">Общие показатели</h1>
        <div class="row">
            <div class="col-md-6">
                <h2 >Таблица нормального распределения</h2>
                <p>
                    Показывает, какое количество тестируемых выполнили определенные задания в пределах нескольких стандартных отклонений "S".
                </p>
                <p>Наглядно демонстрирует нормальное распределение данных:</p>
                <p><img src="@Url.Action("dataChart","Upload")" /></p>
            </div>
            <div class="col-md-offset-6">
                <h2 class="text-center">Шкала процентилей</h2>
                <p>
                    Процентильный ранг для каждого балла определяется процентом испытуемых, которые выполнили столько же или меньше заданий теста.
                </p>
                <p>Данному тестированию соответствует следующяя таблица:</p>
                <p><img src="@Url.Action("percScale","Upload")" /></p>
            </div>
        </div>
    } 
    else if (SettingsModels.RawScore)
    {
        <div class="text-center">
            <h2 class="text-center">Таблица нормального распределения</h2>
            <p>
                Показывает, какое количество тестируемых выполнили определенные задания в пределах нескольких стандартных отклонений "S".
            </p>
            <p>Наглядно демонстрирует нормальное распределение данных:</p>
            <p><img src="@Url.Action("dataChart","Upload")" /></p>
        </div>
    }
    else if (SettingsModels.Perc)
    {
        <div class="text-center">
            <h2 class="text-center">Шкала процентилей</h2>
            <p>
                Процентильный ранг для каждого балла определяется процентом испытуемых, которые выполнили столько же или меньше заданий теста.
            </p>
            <p>Данному тестированию соответствует следующяя таблица:</p>
            <p><img src="@Url.Action("percScale","Upload")" /></p>
        </div>
    }

    @if ((SettingsModels.Z) && (SettingsModels.T)) { 
        <h1 class="text-center">Стандартные показатели</h1>
        <div class="text-center">
            <p>Следующие таблицы предназначены для стандартизации нормально распределенных данных </p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Z-шкала</h2>
                <p>
                    Нормированные по стандартному отклонению данные тестирования позволяют оценить ранг каждого участника:
                </p>
                <p><img src="@Url.Action("zScale","Upload")" /></p>
            </div>
            <div class="col-md-offset-6">
                <h2 class="text-center">T-шкала</h2>
                <p>Перевод данных z-шкалы в область положительных целых чисел: </p><br />
                <p><img src="@Url.Action("tScale","Upload")" /></p>
            </div>
        </div>
    }
    else if (SettingsModels.Z)
    {
       <div class="text-center">
           <h2 class="text-center">Z-шкала</h2>
           <p>
               Нормированные по стандартному отклонению данные тестирования позволяют оценить ранг каждого участника:
           </p>
           <p><img src="@Url.Action("zScale","Upload")" /></p>
       </div>
    }
    else if (SettingsModels.T)
    {
        <div>
            <h2 class="text-center">T-шкала</h2>
            <p>Перевод данных z-шкалы в область положительных целых чисел:</p><br />
            <p><img src="@Url.Action("tScale","Upload")" /></p>
        </div>
    }
@if ((SettingsModels.Ckvar25) && (SettingsModels.Ckvar75)) {
        <h1 class="text-center">Квартили</h1>
        <div class="text-center">
            <p>Данные таблицы позволяют приблизительно охарактеризовать участников, дают общее представление о результате</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Первый Квартиль</h2>
                <p>
                    Участники, результаты которых не выше 25% от общего количества баллов
                </p>
                <p><img src="@Url.Action("FirstQuant","Upload")" /></p>
            </div>
            <div class="col-md-offset-6">
                <h2 class="text-center">Третий Квартиль</h2>
                <p>Участники, результаты которых не ниже 75% от общего количества баллов</p>
                <p><img src="@Url.Action("ThirdQuant","Upload")" /></p>
            </div>
        </div>
}
else if (SettingsModels.Ckvar25)
{
    <div class="text-center">
        <h2 class="text-center">Первый Квартиль</h2>
        <p>
            Участники, результаты которых не выше 25% от общего количества баллов
        </p>
        <p><img src="@Url.Action("FirstQuant","Upload")" /></p>
    </div>
}
else if (SettingsModels.Ckvar75)
{
    <div class="text-center">
        <h2 class="text-center">Третий Квартиль</h2>
        <p>Участники, результаты которых выше 75% от общего количества баллов</p>
        <p><img src="@Url.Action("ThirdQuant","Upload")" /></p>
    </div>
}
</body>
</html>

@if (SettingsModels.Table) { 
<div class="text-center">
    <h2>Результаты</h2>
</div>
<table class="table">
    <tr>
        <th>
            Участник
        </th>
        <th>
            Балл
        </th>
        <th>
            Z - балл
        </th>
        <th>
            T - балл
        </th>
        <th>
            Процентиль
        </th>
    </tr>
    @for (int i = 0; i < @ViewBag.Data.Length; i++)
    {
        <tr>
            <td>
                @ViewBag.Data[i].StudID
            </td>
            <td>
                @ViewBag.Data[i].RawScore
            </td>
            <td>
                @ViewBag.Data[i].Z
            </td>
            <td>
                @ViewBag.Data[i].T
            </td>
            <td>
                @ViewBag.Data[i].Perc
            </td>
        </tr>
    }
    </table>
}
<br />

    <div>
        <input type="button" class="btn btn-default" style="float:right" onclick="javascript:scrollTo(0,0)" value="Наверх" />
    </div>
    